body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fQumui {
  justify-content: space-between !important;
  height: 90vh !important;
  margin: 5vh 2vh 5vh 0 !important;
}

.zpbDk {
  height: 40% !important;
  width: auto !important;
}

.bZOAgg {
  height: 12% !important;
  margin-bottom: 0 !important;
}